<h1 class="h3">Welcome to the National Cancer Institute</h1>
<hr>

<p>The National Cancer Institute is the Nation's primary agency leading the fight against cancer by supporting and conducting ground-breaking research in cancer biology, causation, prevention, detection, treatment and survivorship. NCI's goal is to stimulate and support scientific discovery and its application to achieve a future when all cancers are uncommon and easily treatable. The NCI works toward this goal by providing vision to the Nation and leadership for thousands of NCI funded researchers across the United States and around the world, and working to assure that the results of research are translated into reducing the burden of all cancers for all people.</p>

<p>NCI maintains a resume databank of interested candidates to be considered for postdoctoral fellowship, intern and professional positions in science. Candidates are welcomed and encouraged to <a routerLink="/apply">post their contact information and resume</a>.</p>

<p>After posting your resume, you can also view and apply for current fellowship and intern opportunities offered in our intramural and extramural divisions:</p>

<ul>
  <li><a href="https://ccr.cancer.gov/training" rel="noopener" target="_blank">Opportunities in the Center for Cancer Research.</a></li>
  <li><a href="https://dceg.cancer.gov/fellowship-training" rel="noopener" target="_blank">Opportunities in the Division of Cancer Epidemiology and Genetics.</a></li>
  <li><a href="https://cpfp.cancer.gov/fellowship-program" rel="noopener" target="_blank">Opportunities in the Division of Cancer Prevention.</a></li>
</ul>

<div class="alert" style="background-color: #eee">
    <h2 class="h5">Warning Notice</h2>
    <ul>
        <li>This warning banner provides privacy and security notices consistent with applicable federal laws, directives, and other federal guidance for accessing this Government system, which includes (1) this computer network, (2) all computers connected to this network, and (3) all devices and storage media attached to this network or to a computer on this network.</li>
        <li>This system is provided for Government-authorized use only.</li>
        <li>Unauthorized or improper use of this system is prohibited and may result in disciplinary action and/or civil and criminal penalties.</li>
        <li>Personal use of social media and networking sites on this system is limited as to not interfere with official work duties and is subject to monitoring.</li>
    </ul>

    <strong>By using this system, you understand and consent to the following:</strong>
    <ul>
      <li>The Government may monitor, record, and audit your system usage, including usage of personal devices and email systems for official duties or to conduct HHS business. Therefore, you have no reasonable expectation of privacy regarding any communication or data transiting or stored on this system. At any time, and for any lawful Government purpose, the government may monitor, intercept, and search and seize any communication or data transiting or stored on this system.</li>
      <li>Any communication or data transiting or stored on this system may be disclosed or used for any lawful Government purpose.</li>
    </ul>
</div>

<div class="alert" style="background-color: #eee">
  <p class="text-right">
    OMB No.: 0925-XXXX<br>
    Expiration Date: xx/xx/20xx
  </p>

  <p>Collection of this information is authorized by The Public Health Service Act, Section 411 (42 USC 285a). Rights of participants are protected by The Privacy Act of 1974. Participation is voluntary, and there are no penalties for not participating or withdrawing from the application system at any time. Refusal to participate will not affect your benefits in any way. The information collected in this system will be kept private to the extent provided by law. Names and other identifiers will not appear in any report of the study. Resumes will be maintained individually. You are choosing to submit your resume on this website and will be contacted by email, if eligible.</p>
  <p>Public reporting burden for this collection of information is estimated to average 30 minutes per response, including the time for reviewing instructions, searching existing data sources, gathering and maintaining the data needed, and completing and reviewing the collection of information. An agency may not conduct or sponsor, and a person is not required to respond to, a collection of information unless it displays a currently valid OMB control number. Send comments regarding this burden estimate or any other aspect of this collection of information, including suggestions for reducing this burden to: NIH, Project Clearance Branch, 6705 Rockledge Drive, MSC 7974, Bethesda, MD 20892-7974, ATTN: PRA (0925-XXXX). Do not return the completed form to this address.</p>
</div>