<form method="POST" enctype="multipart/form-data" novalidate>
    <h2 class="h6 mb-1">Select a job category</h2>
    <div class="form-group bg-light px-2 py-2 rounded shadow-sm">
        <% for (let item of fields.job_category) { %>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="job-category-<%- item.id %>" value="<%- item.id %>" name="job_category_id">
            <label class="custom-control-label" for="job-category-<%- item.id %>">
                <%- item.name %>
            </label>
        </div>
        <% } %>
    </div>

    <h2 class="h6 mb-1">Scientific focus areas</h2>
    <div class="form-group bg-light px-2 py-2 rounded shadow-sm">
        <div class="row" formGroupName="scientific_focus">
            <% for (let item of fields.scientific_focus) { %>
            <div class="col-lg-6">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="scientific-focus-<%- item.id %>" name="scientific_focus" %>
                    value="<%- item.id %>">
                    <label class="custom-control-label" for="scientific-focus-<%- item.id %>">
                        <%- item.name %>
                    </label>
                </div>
            </div>
            <% } %>
        </div>
    </div>


    <h2 class="h6 mb-1">Select completed education levels</h2>
    <div class="form-group bg-light px-2 py-2 rounded shadow-sm">
        <div class="row">
            <% for (let item of fields.education_level) { %>
            <div class="col-xl-1 col-lg-2 col-sm-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="education-level-<%- item.id %>" name="education_level" value="<%- item.id %>">
                    <label class="custom-control-label" for="education-level-<%- item.id %>">
                        <%- item.name %>
                    </label>
                </div>
            </div>
            <% } %>
        </div>
    </div>



    <h2 class="h6 mb-1">States</h2>
    <div class="form-group bg-light px-2 py-2 rounded shadow-sm">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="is-foreign" name="is_foreign" value="true">
                <label class="custom-control-label" for="is-foreign">
                    Foreign Country
                </label>
        </div>

        <hr>

        <div class="row">
            <% for (let item of fields.state) { %>
            <div class="col-xl-1 col-lg-1 col-sm-1">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="state-<%- item.id %>" name="state" value="<%- item.name %>">
                    <label class="custom-control-label" for="state-<%- item.id %>">
                        <%- item.name %>
                    </label>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
        <a href="<%- route %>" class="btn btn-outline-secondary">Reset</a>
    </div>

</form>