<h1 class="h3">Apply Online</h1>
<hr>

<p>The National Cancer Institute maintains a resume databank of interested candidates to be considered for postdoctoral fellowship, intern and professional positions in science. Candidates are welcomed and encouraged to post their contact information and resume.</p>

<p>The NCI Future Fellows website accepts resumes from interested applicants for positions that may have future openings, it is not intended to solicit or accept applications for official vacancy announcements. Your contact information and resume will be kept on file for six months from the date you post your resume. Should position openings occur and if there is interest in your credentials/qualifications, you may be invited to participate in a formal interview.</p>

<form method="POST" enctype="multipart/form-data" data-turbolinks-form>
    <pre><%- JSON.stringify(formValues, null, 2) %></pre>

    <h2 class="h6 mb-1">Select a job category</h2>
    <div class="form-group bg-light px-2 py-2 rounded shadow-sm">
        <% for (let item of fields.job_category) { %>
        <div class="custom-control custom-radio">
            <input
                type="radio"
                class="custom-control-input"
                id="job-category-<%- item.id %>"
                name="job_category"
                value="<%- item.id %>"
                <%- formValues.job_category == item.id && 'checked' %>
            >
            <label class="custom-control-label" for="job-category-<%- item.id %>">
                <%- item.name %>
            </label>
        </div>
        <% } %>
    </div>


    <h2 class="h6 mb-1">Select up to 5 scientific focus areas</h2>
    <div class="form-group bg-light px-2 py-2 rounded shadow-sm">
        <div class="row" formGroupName="scientific_focus">
            <% for (let item of fields.scientific_focus) { %>
            <div class="col-lg-6">
                <div class="custom-control custom-checkbox">
                    <input
                        type="checkbox"
                        class="custom-control-input"
                        id="scientific-focus-<%- item.id %>"
                        name="scientific_focus"
                        <%- (formValues.scientific_focus || []).map(Number).includes(item.id) && 'checked' %>
                        value="<%- item.id %>">
                    <label class="custom-control-label" for="scientific-focus-<%- item.id %>">
                        <%- item.name %>
                    </label>
                </div>
            </div>
            <% } %>
        </div>
    </div>


    <h2 class="h6 mb-1">Please enter the following information</h2>
    <div class="form-group bg-light px-2 py-2 rounded shadow-sm">
        <div class="row">
            <div class="col-md-4  mb-3">
                <label>First Name</label>
                <input
                    id="first_name"
                    class="form-control"
                    placeholder="Jane"
                    value="<%- formValues.first_name %>"
                    name="first_name">
            </div>
            <div class="col-md-4  mb-3">
                <label>Middle Initial</label>
                <input
                    id="middle_initial"
                    class="form-control"
                    placeholder="M.I."
                    value="<%- formValues.middle_initial %>"
                    name="middle_initial">
            </div>
            <div class="col-md-4  mb-3">
                <label>Last Name</label>
                <input
                    id="last_name"
                    class="form-control"
                    placeholder="Doe"
                    value="<%- formValues.last_name %>"
                    name="last_name">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Email Address</label>
                <input
                    type="email"
                    class="form-control"
                    placeholder="jane.doe@example.com"
                    name="email"
                    value="<%- formValues.email %>"
                    required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8  mb-3">
                <label>Address 1</label>
                <input
                    id="address_1"
                    class="form-control"
                    placeholder="1 First St."
                    name="address_1"
                    value="<%- formValues.address_1 %>"
                    required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8  mb-3">
                <label>Address 2</label>
                <input
                    class="form-control"
                    placeholder="Apt #1"
                    value="<%- formValues.address_2 %>"
                    name="address_2">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4  mb-3">
                <label for="city">City</label>
                <input
                    id="city"
                    class="form-control"
                    placeholder="Washington"
                    name="city"
                    value="<%- formValues.city %>"
                    required>
            </div>
            <div class="col-md-4  mb-3">
                <label>State</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="DC"
                    value="<%- formValues.state %>"
                    name="state">
            </div>
            <div class="col-md-4  mb-3">
                <label>Zip</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="20001"
                    value="<%- formValues.zip %>"
                    name="zip">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4  mb-3">
                <label>Home Phone</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    value="<%- formValues.home_phone %>"
                    name="home_phone"
                    required>
            </div>
            <div class="col-md-4  mb-3">
                <label>Work Phone</label>
                <input type="text" class="form-control" placeholder="" name="work_phone">
            </div>
            <div class="col-md-4  mb-3">
                <label>Fax Phone</label>
                <input type="text" class="form-control" placeholder="" name="fax_phone">
            </div>
        </div>


        <div class="row">
            <div class="col-md-4  mb-3">
                <label>Citizenship</label>
                <select class="form-control" name="citizenship">
                    <option value="" hidden>Select a value</option>
                    <% for (let item of fields.citizenship) { %>
                        <option value="<%- item.id %>">
                            <%- item.name %>
                        </option>
                    <% } %>
                </select>
            </div>
            <div class="col-md-4  mb-3">
                <label>Undergraduate Degree GPA</label>
                <input type="number" class="form-control" name="undergraduate_gpa">
            </div>
        </div>



    </div>


    <h2 class="h6 mb-1">Select completed education levels</h2>
    <div class="form-group bg-light px-2 py-2 rounded shadow-sm">
        <div class="row" formGroupName="education_level">
            <% for (let item of fields.education_level) { %>
                <div class="col-xl-1 col-lg-2 col-sm-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="education-level-<%- item.id %>" name="education_level[]">
                        <label class="custom-control-label" for="education-level-<%- item.id %>">
                            <%- item.name %>
                        </label>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <h2 class="h6 mb-1">Please answer the following questions</h2>
    <div class="form-group bg-light px-2 py-2 rounded shadow-sm">
        <ol>
            <li>
                <label>Please give a brief statement of your research interests and reason for seeking a postdoctoral fellowship at the NCI</label>
                <textarea class="form-control mb-3" name="research_interests"><%= formValues.research_interests %></textarea>
            </li>

            <li>
                <label>Please provide a brief overview of your postdoctoral experience if any. List title of positions held and length of time employed.</label>
                <textarea class="form-control mb-3" name="postdoc_experience"></textarea>
            </li>

            <li>
                <label>Please tell us how you heard about this opportunity (name of school, title of event or conference, advertisement/journal, etc.)</label>
                <textarea class="form-control mb-3" name="referral_source"></textarea>
            </li>

            <li>
                <label>Please let us know your date of availability</label>
                <textarea class="form-control" name="availability_date"></textarea>
            </li>
        </ol>
    </div>

    <h2 class="h6 mb-1">Choose your .pdf resume to upload</h2>
    <div class="form-group bg-light px-2 py-2 rounded shadow-sm">
        <input type="file" aria-describedby="resume-help">

        <small id="resume-help" class="form-text text-muted">Note: Attached resumes must be in .pdf format. See <a href="https://www.acrobat.com/createpdf/en/home.html">https://www.acrobat.com/createpdf/en/home.html</a> for a free .pdf conversion tool.</small>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-outline-secondary">Reset</button>
    </div>




</form>
