<h1 class="h3">
    Applicant:
    <%- [values.last_name, values.first_name].filter(String).join(', ') %>
</h1>
<hr>

<h2 class="h6 mb-1">Applicant Files</h2>
<div class="form-group bg-light px-2 py-2 rounded shadow-sm">


    <div>
        <a
            href="<%- `/applicants/resume/${params.id}` %>"
            data-turbolinks="false"
            target="_blank"
            rel="noopener noreferrer">
            View Resume
        </a>

    </div>

    <div>
        <a
            href="<%- `/applicants/export/${params.id}` %>"
            data-turbolinks="false"
            target="_blank"
            rel="noopener noreferrer"
            download>
            Download Applicant
        </a>
    </div>

    <div>
        <a
            href="<%- `/applicants/email/${params.id}` %>"
            data-turbolinks="false"
            target="_blank"
            rel="noopener noreferrer">
            Email Applicant
        </a>
    </div>
</div>

<%- include ../forms/update-application %>


<!--
<pre><%- JSON.stringify(values, null, 2) %></pre>
<pre><%- JSON.stringify(errors, null, 2) %></pre>
-->
