<a href="<%- route %>#main" class="sr-only sr-only-focusable text-white bg-primary-dark text-center py-2 d-block"
    data-turbolinks="false">Skip to main content</a>

<div class="container my-4 d-none d-md-block">
    <img src="assets/images/nci-logo.svg" style="max-width: 60%" alt="National Cancer Institute Logo">
</div>

<div class="bg-primary text-light py-2 d-none d-md-block">
    <h1 class="container my-0 h5">
        <span class="row">Future Fellows</span>
    </h1>
</div>

<%- include navbar-public %>
